[submodule "Chip8_Emulation/imgui"]
	path = Chip8_Emulation/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Chip8_Emulation/chip-8-database"]
	path = Chip8_Emulation/chip-8-database
	url = https://github.com/chip-8/chip-8-database.git
[submodule "Chip8_Emulation/external/json"]
	path = Chip8_Emulation/external/json
	url = https://github.com/nlohmann/json.git
[submodule "Chip8_Emulation/TinySHA1"]
	path = Chip8_Emulation/TinySHA1
	url = https://github.com/mohaps/TinySHA1.git
