# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
Chip8_Emulation/x64/Debug/Chip8_Emulation.exe.recipe
Chip8_Emulation/x64/Debug/Chip8_Emulation.log
Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/Chip8_Emulation.lastbuildstate
Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/CL.command.1.tlog
Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/Cl.items.tlog
Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/CL.read.1.tlog
Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/CL.write.1.tlog
Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/link.command.1.tlog
Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/link.read.1.tlog
Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/link.write.1.tlog
Chip8_Emulation/x64/Debug/Chip8_Emulation.vcxproj.FileListAbsolute.txt
Chip8_Emulation/x64/Debug/vc143.idb
Chip8_Emulation/.vs/Chip8_Emulation/v17/ipch/AutoPCH/651558ffa867c22d/CHIP8_EMULATION.ipch
Chip8_Emulation/.vs/Chip8_Emulation/v17/Browse.VC.opendb
Chip8_Emulation/.vs/Chip8_Emulation/v17/Browse.VC.db-wal
Chip8_Emulation/.vs/Chip8_Emulation/v17/Browse.VC.db-shm
Chip8_Emulation/.vs/Chip8_Emulation/v17/Browse.VC.db
Chip8_Emulation/.vs/Chip8_Emulation/v17/.suo
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/4696f19c-df06-4774-93e4-dd539042c4a0.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/0be40a83-2522-4c76-b964-de87ac60c1fb.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/2bbe6858-cd41-421e-b4e0-fee71c2577c8.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/8e60048e-0fad-484f-aaaf-adfa888db590.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/b69db886-52a9-4154-a89e-b638a28edfc7.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/e14bb433-649b-49d7-b5b3-956eac4aca0a.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/v17/ipch/AutoPCH/cdb795bc52faf14a/CHIP8.ipch
Chip8_Emulation/Chip8_Emulation.vcxproj.user
Chip8_Emulation/Chip8_Emulation.vcxproj.user
Chip8_Emulation/Chip8_Emulation.vcxproj.user
Chip8_Emulation/Chip8_Emulation.vcxproj.user
Chip8_Emulation/Chip8_Emulation.vcxproj.user
Chip8_Emulation/Chip8_Emulation.vcxproj.user
