# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
Chip8_Emulation/x64/Debug/Chip8_Emulation.exe.recipe
Chip8_Emulation/x64/Debug/Chip8_Emulation.log
Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/Chip8_Emulation.lastbuildstate
Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/CL.command.1.tlog
Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/Cl.items.tlog
Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/CL.read.1.tlog
Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/CL.write.1.tlog
Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/link.command.1.tlog
Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/link.read.1.tlog
Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/link.write.1.tlog
Chip8_Emulation/x64/Debug/Chip8_Emulation.vcxproj.FileListAbsolute.txt
Chip8_Emulation/x64/Debug/vc143.idb
Chip8_Emulation/.vs/Chip8_Emulation/v17/ipch/AutoPCH/651558ffa867c22d/CHIP8_EMULATION.ipch
Chip8_Emulation/.vs/Chip8_Emulation/v17/Browse.VC.opendb
Chip8_Emulation/.vs/Chip8_Emulation/v17/Browse.VC.db-wal
Chip8_Emulation/.vs/Chip8_Emulation/v17/Browse.VC.db-shm
Chip8_Emulation/.vs/Chip8_Emulation/v17/Browse.VC.db
Chip8_Emulation/.vs/Chip8_Emulation/v17/.suo
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/4696f19c-df06-4774-93e4-dd539042c4a0.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/0be40a83-2522-4c76-b964-de87ac60c1fb.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/2bbe6858-cd41-421e-b4e0-fee71c2577c8.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/8e60048e-0fad-484f-aaaf-adfa888db590.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/b69db886-52a9-4154-a89e-b638a28edfc7.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/e14bb433-649b-49d7-b5b3-956eac4aca0a.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/v17/ipch/AutoPCH/cdb795bc52faf14a/CHIP8.ipch
Chip8_Emulation/Chip8_Emulation.vcxproj.user
Chip8_Emulation/Chip8_Emulation.vcxproj.user
Chip8_Emulation/Chip8_Emulation.vcxproj.user
Chip8_Emulation/Chip8_Emulation.vcxproj.user
Chip8_Emulation/Chip8_Emulation.vcxproj.user
Chip8_Emulation/Chip8_Emulation.vcxproj.user
Chip8_Emulation/.vs/Chip8_Emulation/v17/ipch/AutoPCH/2237cead498a5d65/VCTMP15772_283941.CHIP8.00000000.ipch
Chip8_Emulation/.vs/Chip8_Emulation/v17/ipch/AutoPCH/11a429071a9c49dc/VCTMP15772_313356.CHIP8.00000000.ipch
Chip8_Emulation/.vs/Chip8_Emulation/v17/DocumentLayout.json
Chip8_Emulation/.vs/Chip8_Emulation/v17/DocumentLayout.backup.json
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/c9dc3248-52bc-4ce3-a912-3d3db19b82e8.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/4a903357-4cd3-4606-a3ab-e0b681230b75.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/155ea431-611d-4a1d-b18d-d7569f179494.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/155ea431-611d-4a1d-b18d-d7569f179494.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/4a903357-4cd3-4606-a3ab-e0b681230b75.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/155ea431-611d-4a1d-b18d-d7569f179494.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/4a903357-4cd3-4606-a3ab-e0b681230b75.vsidx
test_opcode.ch8
Chip8_Emulation/Chip8_Emulation/x64/Debug/vc143.idb
Chip8_Emulation/Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/link.write.1.tlog
Chip8_Emulation/Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/link.secondary.1.tlog
Chip8_Emulation/Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/link.read.1.tlog
Chip8_Emulation/Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/link.command.1.tlog
Chip8_Emulation/Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/CL.write.1.tlog
Chip8_Emulation/Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/CL.read.1.tlog
Chip8_Emulation/Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/Cl.items.tlog
Chip8_Emulation/Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/CL.command.1.tlog
Chip8_Emulation/Chip8_Emulation/x64/Debug/Chip8_Emulation.tlog/Chip8_Emulation.lastbuildstate
Chip8_Emulation/Chip8_Emulation/x64/Debug/Chip8_Emulation.log
Chip8_Emulation/Chip8_Emulation/x64/Debug/Chip8_Emulation.exe.recipe
Chip8_Emulation/Chip8_Emulation/x64/Debug/chip8.obj.enc
Chip8_Emulation/Chip8_Emulation.vcxproj.user
Chip8_Emulation/.vs/Chip8_Emulation/v17/Solution.VC.db
Chip8_Emulation/.vs/Chip8_Emulation/v17/ipch/AutoPCH/c4c2a45662a5a346/VCTMP25108_815912.CHIP8.00000000.ipch
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/c69c618a-85c8-4cdc-8e04-00bf1032eb22.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/4a903357-4cd3-4606-a3ab-e0b681230b75.vsidx
Chip8_Emulation/.vs/Chip8_Emulation/FileContentIndex/155ea431-611d-4a1d-b18d-d7569f179494.vsidx
